<div id="zoom">
	<button (click)="$any(mapView).applyZoom(1.6)"> + </button>
	<button (click)="$any(mapView).applyZoom(0.4)"> - </button>
</div>
<div id="mapPicker">
	<select name="Map" id="" (change)="mapProvider.loadMap($any($event.target).value)">
		<option *ngFor="let map of this.mapProvider.maps()" [value]="map">
			{{ map | titlecase }}
		</option>
	</select>
</div>
<svg mapView #mapView (zoomEvent)="applyZoom($event)" width="1000" height="600">
	<g mapRenderer [zoom]="zoom"></g>
	<g>
		<g artifactRenderer *ngFor="let artifact of artifacts" [zoom]="zoom" [artifact]="artifact">

		</g>
	</g>
</svg>