<div id="main">
	<div id="zoom">
		<button class="material-symbols-outlined" (click)="$any(mapView).applyZoom(1.6)">
			add
		</button>
		<button class="material-symbols-outlined" (click)="$any(mapView).applyZoom(0.4)">
			remove
		</button>
	</div>
	<div id="mapPicker">
		<select name="Map" (change)="mapProvider.loadMap($any($event.target).value)">
			<option *ngFor="let map of this.mapProvider.maps()" [value]="map">
				{{ map | titlecase }}
			</option>
		</select>
	</div>
	<svg mapView #mapView (zoomEvent)="applyZoom($event)" [attr.width]="width" [attr.height]="height">
		<g mapRenderer [zoom]="zoom"/>
		<g>
			<g artifactRenderer *ngFor="let artifact of artifactManager.artifacts() | async" [zoom]="zoom" [artifact]="artifact"/>
		</g>
	</svg>
</div>