#main {
  display: block;
  position: relative;
  width: fit-content;
  height: fit-content;
  background-color: var(--map);
  border-radius: 0.5em;
}

#mapPicker, #zoom {
  position: absolute;
}

#zoom {
  z-index: 1;
  left: 1em;
  top: 1em;
}

#mapPicker {
  right: 1em;
  top: 1em;
}

button {
  display: block;
  width: 2em;
  height: 2em;
  font: bold;
  font-size: larger;
}

svg {
  border-radius: 10px;
}