:root {
  --background: #85081D;
  --map: #D13021;
  --sidenav: #D11737;
  --text: white;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0;
  padding: 2em;
}